/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2017, 10:20:50 AM
    Author     : Manuel
*/
a#accountCreationLink{
    font-style:italic;
    text-decoration: underline;
    cursor: pointer
}

input#signInButton{
    font-style:italic;
    text-decoration: underline;
    cursor: pointer
}

a#signInLink{
    font-style:italic;
    text-decoration: underline;
    cursor: pointer
}

input#signUpButton{
    font-style:italic;
    text-decoration: underline;
    cursor: pointer
}

div.formElementDiv{
    padding: 5px;
}

.userLinks{
    padding : 5px;
}

#title{
    padding : 5px;
    font-family : monospace,serif,sans-serif;  
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;
}

#welcome_word {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 120%;
    color:#40968C;
}

#contentArea{
    padding-top: 30px;
}

#responseMessage{
    padding-bottom: 20px;
    text-align: center;
}

.form_mandatory{
    color:darkred;
    font-weight: bolder;
}

.applicationHeader{
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

.applicationDiv{
    padding: 5px;
}

#footer {
    color: #214f99;
    text-align: center;
    font-family :monospace;
    position: fixed;
    bottom: 0;
}

#banner {
    font-style: oblique;
    font-size: 200%;
    text-align: center;
    color: #214f99;
    font-family :monospace;
    height: 80px;
    padding: 10px;
}

#imgslider {
    border-radius: 5px;
}

#publicheader{
    font-family: monospace;
    font-style: oblique;
    color: #214f99;
    padding: 5px;
    font-weight: bold;
}

#divform {
   padding: 10px;
   background-image: url("../../img/plane1.jpg");
   border-radius: 5px;
}

.fa-arrow-circle-left{
    cursor: pointer;
}

.modalAnimate {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../img/loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalAnimate {
    display: block;
}

